 <div class="inner">
    <ul class="mm_nav flex">
      {%- for link in linklists.mm-world.links -%}
      <li>
        <a href="{{ link.url }}" class="pill{% if link.current %} active{% endif %}" {% if link.current %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
 </div>
 <style>
    .mm_nav {
      list-style-type: none;
      padding: 0;
      margin: 0;
      gap: 8px;
      margin-top: 8px;
    }
    .mm_nav li a {
      font-size: 87.5%;
      display: block;
      border-radius: 16px;
      padding: 4px 16px;
      line-height: 24px;
    }
    .mm_nav li a.active {
      color: white;
      background-color: var(--color-foreground);
    }
 </style>