<link rel="stylesheet" href="{{ 'page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'page.css' | asset_url | stylesheet_tag }}</noscript>

<div class="inner narrow">
  <h1>
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{%- if page.handle == 'press' -%}
<div class="inner gallery-content grid">
  <div class="gallery-cell">
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/Salon_P161.pdf?v=1614308645">
      <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Salon_cOVER_ff267bc5-9d7f-4708-8771-6c70093e021d_1000x_crop_center.jpg?v=1586868132" alt="Salon Magazine" class="page-gallery-template-2-6"> 
    </a>
  </div>
    
  <div class="gallery-cell"> 
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/House_and_Garden_Sep_p24.pdf?v=1614308648">
    <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Houses_and_Garden_Sep_Cover_148b7fbd-b4cd-4d93-bf58-be7cae3ae2a4_1000x_crop_center.jpg?v=1586868090" alt="House & Garden" class="page-gallery-template-2-7"> 
    </a>
  </div>
    
  <div class="gallery-cell">
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/Homes_And_Gardens_Sep_p43.pdf?v=1614308648">
      <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Homes_And_Gardens_Sep_Cover_1015c559-a544-452b-891e-3eeae72521a5_1000x_crop_center.jpg?v=1586868045" alt="Homes & Gardens" class="page-gallery-template-2-5">
    </a>
  </div>
      
  <div class="gallery-cell">
    <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Molly_5a_2d2b0414-1ed4-4594-aeec-0048b7fd809e_1000x_crop_center.jpg?v=1586867783" alt="The World of Interiors" class="page-gallery-template-2-8">
  </div>
  
  <div class="gallery-cell">
    <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/English_Home_Cover_1000x_crop_center.jpg?v=1579528366" alt="The English Home" class="page-gallery-template-2-3">
  </div>
  
  <div class="gallery-cell"> 
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/COUNTRY_HOMES_JUNE_p75.jpg?v=1579527682">
      <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/COUNTRY_HOMES_JUNE_cover_1000x_crop_center.jpg?v=1579527507" alt="Country Homes & Interiors" class="page-gallery-template-2-1">
    </a>
  </div>
  
  <div class="gallery-cell">
    <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Surrey_Homes_Cover_1000x_crop_center.jpg?v=1579528227" alt="Surrey Homes" class="page-gallery-template-2-2">
  </div>
  
  <div class="gallery-cell">
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/C_Life_April_p88.jpg?v=1579528575">
      <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/C_Life_April_1_1000x_crop_center.jpg?v=1579528486" alt="Country Life" class="page-gallery-template-2-4">
    </a>
  </div>
  
  
  <div class="gallery-cell">
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/Homes_and_Garden_May_p57.pdf?v=1614312110">
      <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Homes_and_Garden_May_Cover1_1000x_crop_center.jpg?v=1589303504" alt="Homes & Gardens" class="page-gallery-template-2-9">
    </a>
  </div>
  
  <div class="gallery-cell">
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/CountryHomesMay19.pdf?v=1614312115">
      <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Homes_and_Garden_May_Cover1_copy_1000x_crop_center.jpg?v=1589304316" alt="Country Homes & Gardens" class="1589303772483">
    </a>
  </div>
  
  <div class="gallery-cell">
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/dummy.pdf?1717">
      <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Molly_1_1000x_crop_center.jpg?v=1555497622" alt="Milieu" class="page-gallery-template-2-0">
    </a>
  </div>
  
  <div class="gallery-cell">
    <a href="https://cdn.shopify.com/s/files/1/0090/0100/9210/files/H_GOCT18LUNABLUETURMERIC.pdf?v=1614312116">
    <img src="//cdn.shopify.com/s/files/1/0090/0100/9210/files/Homes_and_Garden_May_Cover1_81749a56-2851-4a85-a99e-fb9b2c38023b_1000x_crop_center.jpg?v=1589306522" alt="House & Garden" class="1589306228259">
    </a>
  </div>

</div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "basic-page spaced-section"
}
{% endschema %}
